@mixin box-sizing( $type: border-box ) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  -o-box-sizing: $type;
  -ms-box-sizing: $type;
  box-sizing: $type;
}

$primary-color: #0066FF;
$highlight-color: #DE6C3C;
$nav-button-color: $highlight-color;

$highlight-secondary-color: #98C895;

$contact-header-background: #333333;
$contact-header-foreground: #E6E6E6;

$navigation-header-background: #F1F1F1;
$navigation-header-foreground: black;

$splash-foreground-color: white;
$splash-height-percentage: 50vh;
$splash-image-url: url('/img/main_logo_med.jpg');

$button-primary-foreground-color: white;
$button-primary-background-color: #0078e7;

$inverted-button-background-color: $highlight-color;
$inverted-button-foreground-color: white;

$section-header-underline-color: $nav-button-color;

$section-border-color: #B2B2B2;

$carousel-selector-color: #333333;

$subsplash-background-color: #EDC800;
$subsplash-foreground-color: black;



$default-background-color: #f5f5f5;
$nav-background-color: black;

$section-1-color: $highlight-secondary-color;
$section-2-color: #81BFE6;
